

    .item{
        margin-left : 100% ;
     }
     
     .flex {
        display: grid;
        grid-template-columns: 50% 50% 50% ;
 width: 400px;
        border-radius: .5em;
        justify-content: space-between;
        align-content: space-between;
            
      }    
      body {
        background-color: #92c435;
           }